<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result1 = connection.exec("select * from crops WHERE give_for != '自家消費';") %>
    <% data1 = [] %>
    <% result1.each do |record1| %>
      <%  data1 << "ゴーヤの大きさ：#{record1["weight"]}　売った相手：#{record1["give_for"]}" %>
    <% end %>
    <form action="kadai1.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費でない情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data1.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result2 = connection.exec("select * from crops WHERE quality = false;") %>
    <% data2 = [] %>
    <% result2.each do |record2| %>
      <%  data2 << "品質:#{record2["quality"]} ゴーヤの大きさ：#{record2["weight"]}　売った相手：#{record2["give_for"]}" %>
    <% end %>
    <form action="kadai2.cgi" method="POST">
       下記のボタンを押すと、品質が悪いものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
